body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #fbbf24;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.country-card {
  background: #1e293b;
  padding: 40px 20px;
  border-radius: 15px;

  text-decoration: none;
  color: white;

  text-align: center;

  transition: 0.2s;
}

.country-card:hover {
  background: #334155;
  transform: translateY(-5px);
}

.country-name {
  font-size: 1.2rem;
  font-weight: bold;
}